body{
/* background-color: #000000; */
background-color: none;
padding: 0px;
margin: 0px;
font-family: 'Sansita Swashed', cursive;
}

.container {
  background:none !important;
  z-index: 3;
}
.jumbotron {
background: none !important;
font-family: 'Sansita Swashed', cursive;
}

#gradient
{
width: 100%;
height: 100%;
padding: 0px;
margin: 0px;
position: realtive;
}

.table {
z-index: 2;
}

#bg-img
{
position: fixed;
display: block;
/* margin-left: auto;
margin-right: auto; */
width: 100%;
height: 100%;
/* right: 650px;
top: 50%;  
transform: translate (-50%, -50%); */
opacity: 0.15;
z-index: 1
}

#img-container {
z-index: 1;
}

h1 {
text-shadow: 2px 2px #5f5757;
font-family: 'Sansita Swashed', cursive;
font-size: 50px;
}

h2 {
color: white;
text-shadow: 2px 2px #5f5757;
font-family: 'Sansita Swashed', cursive;
font-size: 42px;
}

h3 {
color: white;
text-shadow: 2px 2px #5f5757;
font-family: 'Sansita Swashed', cursive;
font-size: 35px;
  }

h5 {
color: white;
text-shadow: 2px 2px #5f5757;
font-family: 'Sansita Swashed', cursive;
font-size: 30px;
  }

p {
color: white;
font-family: 'Arial';
font-size: 25px;
}

ul {
color: white;
font-family: 'Arial';
font-size: 25px;
}

#selDataset {
  z-index: 1000;
}

/* #img-container {
background-image:"../assets/img/ca_burrito.jpg";
background-position:center;
width:700px;
height:400px;
} */

#myBtn {
display: none; /* Hidden by default */
position: fixed; /* Fixed/sticky position */
bottom: 20px; /* Place the button at the bottom of the page */
right: 30px; /* Place the button 30px from the right */
z-index: 99; /* Make sure it does not overlap */
border: none; /* Remove borders */
outline: none; /* Remove outline */
background-color: red; /* Set a background color */
color: white; /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
padding: 15px; /* Some padding */
border-radius: 10px; /* Rounded corners */
font-size: 18px; /* Increase font size */
}

#myBtn:hover {
background-color: #555; /* Add a dark-grey background on hover */
}

.d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

#scatter-google {
  background-color: white;
}

#scatter-yelp {
  background-color: white;
}